<h1> DragonBall Page</h1>
<hr />

<section class="row">
    <div class="col-12 col-sm-6">
        <!-- dragonball-character-add -->
        <!-- Aqui ()para emitir eventos-->
        <dragonball-character-add
            (newCharacter)="addCharacter($event)"
        ></dragonball-character-add>

        <!-- Hasta aqui-->
    </div>

    <div class="col-12 col-sm-6">
         <!--Aqui [] para recibir eventos-->
        <dragonball-character-list
        listName="Listado de personajes"
       
        [characters]="characters()"></dragonball-character-list>
       
    </div>
</section>